* {
  text-decoration: none !important;
  list-style: none;
}
span {
  color: white;
}
a {
  color: white;
}

body {
  overflow-x: hidden;
}
.main-wrapper {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 1000px;
}
.main-header {
  width: 100%;
  position: fixed !important;
}
#header {
  width: 100%;
  height: 80px;
}
.header-package {
  max-width: 1440px;
  margin: auto;
}
.header-responsive {
  width: 100%;
  margin: auto;
}
.header-row-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 32px;
}
.logo-fiverr {
  width: 120px;
}
.navbar {
  display: none;
}
#nav-icon {
  display: none;
}
#nav {
  display: flex;
  align-items: center;
}
#nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}
#nav ul li {
  padding: 0 10px;
  cursor: pointer;
}
#nav ul li.button {
  padding: 0 0 0 10px;
  cursor: pointer;
}
#nav a {
  color: white;
}
.language-currency {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.language {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
#global-icon {
  color: white;
  width: 16px;
  margin-right: 0.5rem;
}
.join-btn {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  padding: 3px 25px;
}
.join-btn:hover {
  background-color: rgb(12, 150, 12);
  border: 1px solid rgb(12, 150, 12);
}
.main-content {
  min-height: 100vh;
  width: 100%;
}
.banner-wrapper {
  background-color: #023a15;
  width: 100%;
  height: 680px;
  margin: auto;
}
.banner-responsive {
  max-width: 1440px;
  background-color: #023a15;
  margin: auto;
  padding: 0 32px;
  height: 100%;
}
.banner-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.banner-content-wrapper {
  max-width: 50%;
}
.banner-content {
  font-size: 54px;
  color: white;
  margin: 0;
  padding-bottom: 24px;
}
.banner-search {
  padding-bottom: 24px;
}
.search-form {
  width: 100%;
  height: 48px;
  align-items: center;
  display: flex;
  background-color: white;
  border-radius: 5px;
}
.input-bar {
  width: 100%;
  height: 48px;
  align-items: center;
  display: flex;
  background-color: white;
  border-radius: 5px;
}
.banner-search-input {
  border: none;
  outline: none;
  width: 546.25px;
  height: 48px;
  padding: 8px 7px 7px 0;
}
.banner-search-btn {
  width: 103.75px;
  height: 48px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #1dbf73;
  color: white;
}
.search-icon {
  margin: 0 12px;
}
.popular-category {
  display: flex;
}
.popular-text {
  color: white;
}
.popular-category ul {
  display: flex;
  margin: 0 0 0 12px;
  padding: 0;
}
.popular-category ul li {
  padding-right: 12px;
}
.popular-category ul li a {
  border: 1px solid rgb(255, 255, 255);
  padding: 3px 10px;
  border-radius: 50px;
}
.trusted-by {
  width: 100%;
  margin: auto;
  height: 95px;
  align-items: center;
  background-color: #fafafa;
  margin-bottom: 96px;
}
.trusted-wrapper {
  max-width: 1440px;
  height: 95px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  padding: 0 32px;
}
.trusted-icon {
  padding: 0 32px;
}
.trusted-text {
  color: #c2c2c5;
}
.multiple-carousel {
  width: 1440px;
  height: 410px;
  margin: auto;
  padding: 0 32px;
  margin-bottom: 96px;
}
.carousel-wrapper {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.popular-carousel {
  padding-bottom: 24px;
}
.carousel-image {
  display: flex;
  justify-content: space-between;
}
.talent-content {
  height: 732px;
  width: 100%;
  margin-bottom: 96px;
}
.talent-bg {
  width: 100%;
  height: 100%;
  background-color: #f1fdf7;
}
.talent-wrapper {
  width: 1440px;
  height: 100%;
  padding: 96px 16px;
  margin: auto;
}
.talent-splitter {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}
.talent-img {
  padding: 0 16px;
}
.talent-text {
  padding: 0 158px 0 16px;
  height: 100%;
}
.talent-text ul {
  margin: 0;
  padding: 0;
}
.talent-sub-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding-bottom: 8px;
  font-size: 18px;
}
.talent-sub-text span {
  margin-right: 10px;
}
.talent-text p {
  margin: 0;
  padding-bottom: 24px;
  font-size: 18px;
}
.talent-title {
  margin: 0;
  padding-bottom: 24px;
}
.explore-content {
  width: 1440px;
  height: 386px;
  padding: 0 32px;
  margin: auto;
  margin-bottom: 96px;
}
.explore-splitter {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.explore-title {
  padding-bottom: 24px;
  margin-bottom: 40px;
}
.explore-category {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.explore-category li {
  height: 142px;
  width: 268px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0 10px;
}
.explore-category li a {
  color: black;
  display: flex;
  flex-direction: column;
}

.explore-icon {
  width: 48px;
  height: 48px;
  margin: auto;
  margin-bottom: 15px;
}
.fib-bg {
  background-color: #0d084d;
  width: 100%;
  height: 732px;
}

.fib-banner {
  max-width: 1440px;
  height: 100%;
  margin: auto;
  padding: 96px 16px;
}
.fib-splitter {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: 100%;
}
.fib-icon {
  padding-bottom: 32px;
}
.fib-icon svg {
  margin-right: 10px;
}
.fib-icon span {
  background-color: #584aff;
  padding: 2px 7px 2px;
  border-radius: 20px;
  font-size: 10px;
  font-weight: bold;
}
.fib-text {
  width: 640px;
  padding: 0 69px 0 16px;
}
.fib-text p {
  color: white;
  padding-bottom: 32px;
  margin: 0;
  max-width: 450px;
  font-size: 20px;
}
.fib-text ul {
  padding: 0;
  margin-bottom: 48px;
}
.fib-text ul li {
  padding: 0 0 12px;
  display: flex;
  color: white;
  font-size: 18px;
}
.fib-text ul li span {
  margin-right: 10px;
}
.fib-title {
  color: white;
  font-size: 35px;
  padding-bottom: 24px;
  margin: 0;
  line-height: 120%;
  max-width: 450px;
}
.fib-btn {
  background-color: #1dbf73;
  padding: 12px 24px;
  border-radius: 5px;
  font-weight: bold;
}
.fib-image img {
  margin: 0 -140px -32px 0;
}

@media (max-width: 912px) {
  .popular-category {
    display: none;
  }
  .banner-content-wrapper {
    max-width: 100%;
  }
  .banner-content {
    font-size: 46px;
  }
  .banner-search-btn {
    width: 100%;
    border-radius: 5px;
    height: 48px;
    align-items: center;
    padding: 12px 0;
  }
  .search-form {
    flex-direction: column;
  }
  .input-bar {
    margin-bottom: 12px;
  }
}
@media (max-width: 768px) {
  .navbar {
    display: block;
  }
  .banner-search-input {
    border-radius: 5px;
  }

  #nav-icon {
    display: block;
  }
  #nav .display-from-md {
    display: none;
  }
  #nav ul {
    padding: 0;
  }
}
@media (max-width: 576px) {
  #nav .display-from-sm {
    display: none;
  }
  #nav ul li.button {
    padding: 0;
    cursor: pointer;
  }
  #nav ul {
    padding: 0;
  }
  .join-btn {
    border: none;
    padding: 0;
  }
  .join-btn:hover {
    color: grey;
    background-color: transparent;
    border: none;
  }
}
@media (max-width: 384px) {
  #nav {
    display: none;
  }
}
